*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
}

.content {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 190px 1fr 1fr 180px;
  grid-template-rows: 57px 1fr 1fr 50px;
  grid-template-areas:
    "header header header header"
    "sidebar content content cart"
    "sidebar content content cart"
    "footer footer footer footer";
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  justify-content: center;
  height: 60%;
}

.sidebar_categories {
  margin-top: 45px;
}

.sidebar_categories_items {
  display: flex;
  flex-direction: column;
}

.sidebar_categories_items button {
  margin-bottom: 3px;
}

.content-main {
  grid-area: content;
}

.cart_section {
  grid-area: cart;
}

.cart_card{
  height: 100%;
}

.cart_content {
  display: grid;
  height: 95%;
  grid-template-columns: auto;
  grid-template-rows: 1fr 40px;
  grid-template-areas: 
  "items"
  "summary";
}

.cart_items{
  grid-area: items;
}

.cart_items .card {
  margin-bottom: 10px;
}

.cart_summary{
  grid-area: summary;
}

footer {
  grid-area: footer;
}
